.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    margin: 0 90px;
}

.product{
display: grid;
grid-template-columns: repeat(3 ,1fr);
}

.cart{
    background-color:rgba(0, 0, 139, 0.884);
    padding: 20px;
    color: white;
}
.btn-group{
    background: linear-gradient(to right, rgb(252, 200, 200), hotpink);
    border: none;
    font-size: 19px;
    border-radius: 12px;
    margin: 8px;
    padding: 15px;
}
.choosen{
    background-color: azure;
    padding: 20px;
    margin: 15px;
    color: black;
}

@media screen and (max-width:380px){
    .shop-container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .product{
        display: grid;
        grid-template-columns:repeat(1, 1fr);
    }
    .cart{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
}
